@model IEnumerable<ClientesGFT.WebApplication.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Usuários";
    ViewData["ActivePage"] = "usuarios";
}

<div class="container-fluid p-0">
    <h1 class="mb-3 text-center"><i class="fas fa-user-friends"></i> Usuários</h1>
    @if (@TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message d-flex">
                <strong class="me-3"><i class="fas fa-exclamation-circle"></i> Erro</strong>
                <span class="m-auto">@TempData["Error"]</span>
            </div>
        </div>
    }
    else if (@TempData["Warning"] != null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message d-flex">
                <strong class="me-3"><i class="fas fa-exclamation-circle"></i> Atenção</strong>
                <span class="m-auto">@TempData["Warning"]</span>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="d-flex flex-row card-header">
                    <h3> <i class="fas fa-caret-right"></i> Usuários Disponíveis</h3>
                    <h5 class="flex-fill text-end">
                        <a class="text-success register-button" asp-action="Create"><i class="fas fa-user-plus"></i> Cadastrar novo usuário</a>
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped data-table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Perfils</th>
                                <th>Data de Criação</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.Name)
                                    </td>
                                    <td>
                                        @foreach (var role in user.Roles)
                                        {
                                            <span class="m-1">@Html.DisplayFor(modelItem => role.Description)</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.CreatedDate)
                                    </td>
                                    <td class="actions">
                                        @if (user.IsEnableToModify)
                                        {
                                            <form asp-action="Edit" asp-controller="Users" asp-route-id="@user.Id" method="post">
                                                <button type="submit" class="btn btn-light-outline text-warning" title="Editar">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                            </form>
                                            <form asp-action="Delete" asp-controller="Users" asp-route-id="@user.Id" method="post">
                                                <button type="submit" class="btn btn-light-outline text-danger" title="Desativar">
                                                    <i class="fas fa-eye-slash"></i>
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <span>&nbsp;&nbsp;</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/js/data-table.js" asp-append-version="true"></script>
}
